<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
  <mat-form-field appearance="outline">
    <mat-label for="name">Nombre</mat-label>
    <input matNativeControl type="text" id="name" name="name" placeholder="Nombre" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="email">Correo Electrónico</mat-label>
    <input matNativeControl type="email" id="email" name="email" placeholder="Correo Electrónico" required />
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="message">Mensaje</mat-label>
    <textarea matNativeControl id="message" name="message" formControlName="message" required></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Enviar</button>
</form>
