/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-grid .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.button.button__green {
  background-color: #00e800;
}

.button.button__green:hover {
  background-color: #00d100;
}

.container {
  min-height: calc(100vh - 128px);
}

.max-width--600 {
  max-width: 600px;
  width: 100%;
}

.max-width--900 {
  max-width: 900px;
  width: 100%;
}

.m-1 {
  margin: 1rem;
}

.mx-auto {
  margin: 0 auto;
}

.thumbnail {
  width: 80px;
  height: auto;
}
