:host {
  display: block;
  width: calc(100% - 32px);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px;
}

.table-container {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.full-width-table {
  width: 100%;
}
